[submodule "42_libft"]
	path = 42_libft
	url = git@github.com:Zaid-Alrafayia/42_libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:Zaid-Alrafayia/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:Zaid-Alrafayia/get_next_line.git
